$primary-color: #333;

.App {
  text-align: center;
  color: $primary-color;
  font-family: sans-serif;
}

.App-intro {
  font-size: large;
}

.nav {
  text-align: left;
}

.NavLink {
  margin: 10px;
  text-decoration: none;
  color: #333;
}

.NavLink:hover {
  color: #1569c7;
  text-decoration: line;
}

.findBtcButton {
  position: relative;
  top: 26px;
  left: 15px;
}

.error {
  font-size: 16px;
  color: red;
  margin: 0;
}

.recharts-wrapper {
  margin: 0 auto;
}

.connectionStatus {
  text-align: right;
  margin-right: 5%;
}

.connect {
  color: #4cc417;
}

.disconnected {
  color: red;
}
